.appContainer {
    margin-top: 50px; 
  }
  
.iphoneFrame {
    width: 40vw;
    height: 80vh;
    border-radius: 40px;
    border: 16px solid black;
    background-color: #f2f2f7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.iphoneScreen {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 40px 20px 20px 20px; 
    text-align: center;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: linear-gradient(to bottom, #64c8e9, #d2b48c);
} 

.iphoneScreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 30px;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}  

  
.lockIcon {
    margin-top: 60px;
    position: absolute;
    top: 15px; 
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
  }
  
.date {
    margin-top: 60px; 
    font-size: 20px;
    font-weight: 600;
  }
  
p {
    font-size: 60px;
    font-weight:bolder;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  }
  
.iphoneFrame::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background-color: #333;
    border-radius: 50px;
  }

.statusBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 100; 
    padding: 10px;
  }
  
.statusIcon {
    width: 20px;
    margin-left: 10px;
  }

.bottomButtonContainer {
    position: absolute;
    bottom: 10%;  
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-align: center;  /* Center the text under the button */
  }
  
.bottomButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out; 
  }
  
.bottomButton:hover {
    transform: rotate(360deg) scale(1.5); 
  }
  
.bottomButtonIcon {
    width: 40px;  
  }

.unlockText {
    margin-top: 8px;  
    font-size: 12px;
    color: #5a5959;  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  